/**
 * Show grid.
 */
@import "grid-float.less";

.showGrid(@maxWidth) {
    background-size: 100% auto;

    @media (min-width: @maxWidth) {
        background-size: @maxWidth auto;
    }
}

.route-grid .inner-wrap {
    .container(960px);
    background: url(../img/grid/grid940x12x60x20-nomargin.png) repeat-y fixed center center;
    .showGrid(960px);
    .clearfix();
}

.route-typography .inner-wrap {
    .container(960px);
    .showGrid(960px);
    .clearfix();


    & .main {
        .column(12);
    }

    &.inner-wrap-main {
        .font();
        .typographyHeadings();
        .typographyTextElements();
        .typographyCodeElements();
        .typographyListElements();
        .typographyTableElements();
        .typographyOtherElements();
    }
}

.route-images .inner-wrap {

    .main {
        .column(12);
    }
}
